<div class="row justify-content-center my-3">
  <div class="col-sm-10 col-md-8">
    <h1>Prueba Frontend</h1>
    <h2>Mining TAG</h2>
    <p class="text-secondary">Desarrollo realizado por <strong>Sergio Abarca Flores.</strong></p>
  </div>
</div>

<div class="row justify-content-center my-3">
  <div class="col-sm-10 col-md-3 my-2">
    <div class="card" style="width: 100%" >
      <div class="card-body">
        <h5 class="card-title text-center">Vista 1</h5>
        <p class="card-text">
          Una tabla que deberá contener las siguientes columnas:
        </p>
        <ul>
          <li>N°: índice n incremental.</li>
          <li>number: El numero procesado.</li>
          <li>quantity: cantidad de ocurrencias del número procesado (cada número sólo puede aparecer una vez).</li>
          <li>first position: índice de primera posición dentro del arreglo.</li>
          <li>last position: índice de última posición dentro del arreglo.</li>
        </ul>
        <a routerLink="/viewOne" class="btn btn-primary btn-block">Ir a Vista 1</a>
      </div>
    </div>
  </div>

  <div class="col-sm-10 col-md-3 my-2">
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title text-center">Vista 2</h5>
        <p class="card-text">
          Una tabla que deberá contener las siguientes columnas en su encabezado:
        </p>
        <ul>
          <li>N°: índice n incremental.</li>
          <li>Valores ordenados de la ‘a’ a las ‘z’.</li>
          <li>Columna en la que se deberá sumar los valores numéricos absolutos del valor de la llave ‘paragraph’ del objeto</li>
        </ul>
        <a routerLink="/viewTwo" class="btn btn-primary btn-block">Ir a Vista 2</a>
      </div>
    </div>
  </div>
</div>
