<app-navbar></app-navbar>
<div class="row justify-content-center">
  <div class="col-10 col-md-6 my-3 text-center">
    <h1 class="my-3">Vista 1</h1>
    <button class="btn btn-primary btn-block" (click)="updateTableValues()" *ngIf="!loadingStatus">Update values</button>
    <button class="btn btn-primary btn-block" disabled *ngIf="loadingStatus">Updating values</button>
  </div>
</div>
<!-- error -->
<app-error [reason]="errorStatus.reason" *ngIf="errorStatus.status"></app-error>
<!-- loading -->
<app-loading *ngIf="loadingStatus"></app-loading>
<!-- success -->
<div class="row justify-content-center animate__animated animate__fadeIn" *ngIf="!errorStatus.status && !loadingStatus && metaDataUnsorted && sortedValues">
  <div class="col-10 my-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Number</th>
          <th scope="col">Quantity</th>
          <th scope="col">first position</th>
          <th scope="col">last position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of metaDataUnsorted; let i = index" [ngClass]="getColorRow(item.position.length)">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{item.number}}
          </td>
          <td>
            {{item.position.length}}
          </td>
          <td>
            {{item.position[0]}}
          </td>
          <td>
            {{item.position[item.position.length - 1]}}
          </td>
      </tbody>
    </table>
  </div>
  <div class="col-6 my-3 text-center">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">sorted values</label>
      <textarea class="form-control text-center" rows="2" disabled>
        {{ sortedValues }}
      </textarea>
    </div>
  </div>
</div>
