<app-navbar></app-navbar>
<div class="row justify-content-center">
  <div class="col-10 col-md-6 my-3 text-center">
    <h1 class="my-3">Vista 2</h1>
    <button class="btn btn-primary btn-block" (click)="updateTableValues()" *ngIf="!loadingStatus">Update values</button>
    <button class="btn btn-primary btn-block" disabled *ngIf="loadingStatus">Updating values</button>
  </div>
</div>
<!-- error -->
<app-error [reason]="errorStatus.reason" *ngIf="errorStatus.status"></app-error>
<!-- loading -->
<app-loading *ngIf="loadingStatus"></app-loading>
<!-- success -->
<div class="row justify-content-center animate__animated animate__fadeIn" *ngIf="!errorStatus.status && !loadingStatus && values.length > 0">
  <div class="col-10 my-3">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of headerTable" >{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of values; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td *ngFor="let letters of item[0]" >
            {{letters.count}}
          </td>
          <td>
            {{item[1]}}
          </td>
      </tbody>
    </table>
  </div>
</div>
